@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-blog {
    background-image: url('/blog-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}